@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400|IBM+Plex+Sans:400,400i,700');
/*global variables*/
:root{
  /*main colors (should be neutral or at least muted unless you're a sociopath)*/
  --col0: #1d565e;
  --col1: rgba(41, 41, 41, 0.8);
  --col2: #fff;
  --col3: rgba(255,255,255,0.1);
/*accent colors (each should appear ~half as often as the last)*/
  --acc0: #b2e1e8;
  --acc1: #b88400;
  --acc2: #e2ed6a;
/*main text colors*/
  --text: var(--col2);
  --text-alt: var(--col0);
/*text colors*/
  --link: var(--acc0);
  --h1: var(--text);
  --h2: var(--acc0);
  --h3: var(--text);
  --tool: var(--text);
  --tool-outline: var(--acc1);
  --tooltip: var(--text);
/*fill colors*/
  --main: var(--col0);
  --nav: var(--col1);
  --content: var(--col3);
  --underline: var(--col1);
  --tooltip-bg: var(--col1);
  /*currently uncategorized*/
  --lgrad: linear-gradient(to right, var(--col0), var(--col3));
}


* {
  /* As you can see here, we used a font downloaded from Google Fonts.*/
  font-family: "IBM Plex Sans";
  line-height: 1.8;
}
body {
  /* we chose a dark background, for greater readability.*/
  /* We did not use pure black to avoid eye strain. */
  background-color: var(--main);
  color: var(--text);
  max-width: 700px;
  margin: auto;
  padding: 1em;
  text-indent: 1em;
}
h1 {
  /* We spent effort looking for compatible colors for the background.*/
  color: var(--h1);
  font-family: "IBM Plex Sans Condensed";
  font-weight: 400;
  background-image: var(--lgrad);
  padding: 1em;
  margin-bottom: 0;
}
h2 {
  color: var(--h2);
  margin: 15px, 0px, 5px, 0px;
  padding: 1em;
  border-bottom: 1px solid var(--col2)
}
h3 {
  color: var(--h3);
  border-bottom: 1em var(--underline);
}

a {
  color: var(--link);
  padding: 0.5em;
}

/* Forms */
form {
  align-content: center;
}
input, textarea {
  background-color: var(--col1);
  border: none;
  padding: 1em;
  border-bottom: 1px solid grey;
  margin-left: 1em;
}
.send-btn {
  background-color: var(--col3);
  color: white;
}

/* Classes */
/* We decided to make "extensive" use of classes for greater code neatness.*/
.header-img {
  padding: 0 1em 0 0;
  width: 30%;
  float: left;
}
.header-img:hover {
  transform: scale(2);
  margin-left: 0;
}
.full-width-img {
  width: 100%;
}
.full-width-img-caption {
  font-style: italic;
  padding: 0;
}
.nav {
  background-color: var(--nav);
  margin-bottom: 3em;
  text-align: center;
}
.nav a:hover {
  background-color: #202020;
}
.content {
  background-color: var(--content);
  margin: 1em;
  padding: 1em 1em 1em 1em;
}
.cite-author {
  padding: 1em;
  font-style: italic;
  color: white;
}
div.gallery{
  border: 1px solid #ccc;
  float: left;
  width: 10em;
  margin-top: 2em;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 70%;
  height: auto;
  padding: 1%;
  margin: 1%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*tooltip styles*/
.tool{
  position: relative;
  color: var(--tool);
}
.tool::before, .tool::after{
  content: "|";
  font-weight: bold;
  color: var(--tool-outline);
}
.tool .tooltip{
  visibility: hidden;
  color: var(--tooltip);
  background-color: var(--tooltip-bg);
  text-align: center;
  border: 1px var(--tooltip) solid;
  border-radius: 6px;
  padding: 5px;
  /* position tooltip cetntred above text*/
  width: 300px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -150px; /*half of width*/
}
.tool .tooltip::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip) transparent transparent transparent;
}
.tool:hover .tooltip{
  visibility: visible;
}
.tooltip img{
  width: 100%;
}
