@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400|IBM+Plex+Sans:400,400i,700');
/*global variables*/
:root{
  /*main colors*/
  --col0: #111;
  --col1: rgba(41, 41, 41, 0.8);
  --col2: #fff;
  --col3: rgba(255,255,255,0.5);
/*accent colors (each should appear ~half as often as the last)*/
  --acc0: #1e7179;
  --acc1: #b88400;
  --acc2: #e2ed6a;
/*main text colors*/
  --text: var(--col2);
  --text-alt: var(--col0);
/*text colors*/
  --link: var(--acc0);
  --h1: var(--text);
  --h2: var(--acc0);
  --h3: var(--text);
/*fill colors*/
  --main: var(--col0);
  --nav: var(--col1);
  --content: var(--col3);
  --underline: var(--col1);
  /*currently uncategorized*/
  --lgrad: linear-gradient(to right, var(--col0), var(--col3));
}

body {
  /* we chose a dark background, for greater readability.*/
  /* We did not use pure black to avoid eye strain. */
  background-color: var(--main);
  color: var(--text);
  max-width: 700px;
  margin: auto;
  padding: 1em;
  text-indent: 1em;
}
h1 {
  /* We spent effort looking for compatible colors for the background.*/
  color: var(--h1);
  font-family: "IBM Plex Sans Condensed";
  font-weight: 400;
  background-image: var(--lgrad);
  padding: 1em;
  margin-bottom: 0;
}
* {
  /* As you can see here, we used a font downloaded from Google Fonts.*/
  font-family: "IBM Plex Sans";
  line-height: 1.4;
}
h2 {
  color: var(--h2);
  margin: 15px, 0px, 5px, 0px;
  padding: 1em;
}
h3 {
  color: var(--h3);
  border-bottom: 1em var(--underline);
  padding: 1em;
  text-indent: 2em;
}

a {
  color: var(--link);
  padding: 0.5em;
}
.cite-author {
  padding: 1em;
  font-style: italic;
}
.header-img {
  padding: 5em 1em 1em 3em;
  width: 40%;
  float: left;
}
.full-width-img {
  width: 100%;
}
.full-width-img-caption {
  font-style: italic;
  padding: 0;
}

/* Classes */
/* We decided to make "extensive" use of classes for greater code neatness.*/
.nav {
  background-color: var(--nav);
  margin-bottom: 3em;
  text-align: center;
}
.content {
  background-color: var(--content);
  margin: 1em;
}
.cite-author {
  padding: 1em;
  font-style: italic;
  color: white;
}
.header-img {
  padding: 5em 1em 1em 3em;
  width: 40%;
  float: left;
}
.full-width-img {
  width: 100%;
}
.full-width-img-caption {
  font-style: italic;
  padding: 0;
}