@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400|IBM+Plex+Sans:400,400i,700');
body {
  /* we chose a dark background, for greater readability.*/
  /* We did not use pure black to avoid eye strain. */
  background-color: #131313;
  max-width: 700px;
  margin: auto;
}
h1 {
  /* We spent effort looking for compatible colors for the background.*/
  color: aquamarine;
  font-family: "IBM Plex Sans Condensed";
  font-weight: 400;
  background-image: linear-gradient(to right, black, grey);
  padding: 1em;
  margin-bottom: 0;
}
* {
  /* As you can see here, we used a font downloaded from Google Fonts.*/
  font-family: "IBM Plex Sans";
  line-height: 1.4;
}
h2 {
  color: forestgreen;
  width: 21m;
  margin: 15px, 0px, 5px, 0px;
  padding: 1em;
}
h3 {
  color: aqua;
  border-bottom: 1% solid red;
  padding: 1em;
  text-indent: 2em;
}

a {
  color: forestgreen;
  padding: 0.5em;
}

p {
  color: white;
  padding: 1em;
  text-indent: 1em;
}
li {
  color: white;
}
i {
  color: white;
}
.cite-author {
  padding: 1em;
  font-style: italic;
  color: white;
}
.header-img {
  padding: 5em 1em 1em 3em;
  width: 40%;
  float: left;
}
.full-width-img {
  width: 100%;
}
.full-width-img-caption {
  font-style: italic;
  padding: 0;
}

/* Classes */
/* We decided to use extensive use of classes for greater code neatness.*/
.nav {
  padding: 1em;
  background-color: #1d1d1d;
  margin-bottom: 3em;
  text-align: center;
}
.content {
  background-color: #1d1d1d;
  padding: 1em;
  margin: 1em;
  border: 5px solid aqua;
}
